.custom-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.custom-input:focus {
  border-color: #007bff;
}

.custom-select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 15px;
  transition: border-color 0.3s ease;
}

.custom-select:focus {
  border-color: #007bff;
}

.custom-table {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-table th {
  padding: 12px;
  background-color: #007bff;
  color: #fff;
}

.custom-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.custom-table tbody tr:hover {
  background-color: #e9ecef;
}

.custom-table th:first-child {
  border-top-left-radius: 8px;
}

.custom-table th:last-child {
  border-top-right-radius: 8px;
}

.custom-table td,
.custom-table th {
  text-align: center;
  border-bottom: 1px solid #dee2e6;
}
